.about-container {
  padding-top: 2rem;
}

.why-container,
.thankyou-container,
.contact-container,
.next-steps-container {
  padding: 0.1rem 1.3rem;
  margin-top: 2rem;
  border-radius: 1vh;
}

.why-container {
  background-color: #f7f7f7;
}

.thankyou-container {
  background-color: #f4b249;
}

.next-steps-container {
  background-color: #f7f7f7;
}

.a-greenroots {
  text-decoration: underline;
  font-weight: bold;
  color: green;
  display: inline-block;
  transition: transform 0.2s ease-in-out;
}

/* Desktop Version: */
@media (min-width: 1520px) {
  .about-container {
    padding: 2rem 20rem;
  }

  .thankyou-container a:hover {
    transform: scale(1.05);
  }

  .why-container,
  .thankyou-container,
  .next-steps-container {
    padding: 1.5rem 5rem;
  }
}
